<%
prjs = WtProjectOrders.find(:all, :order=>"dsp_pos", :conditions=>"uid=-1")
tickets = WtTicketRelay.find(:all, :order=>"position")
tic_max = tickets.size

prjs.each do |po|
 dsp_prj = po.dsp_prj
 dsp_pos = po.dsp_pos
 next if (!@prj_cost.has_key?(dsp_prj) || @prj_cost[dsp_prj][-1]==0.0) && (!@r_prj_cost.has_key?(dsp_prj) || @r_prj_cost[dsp_prj][-1]==0.0)
 prj =Project.find(dsp_prj)
%>
<tr style="background:#000;color:#fff;">
  <td>
<%if User.current.allowed_to?(:edit_work_time_total, @project) then%>
    <a href="#"
       onclick="JavaScript:
         prj_pos(
           '<%=url_for(@link_params)%>',
           <%=dsp_prj%>,
           <%=dsp_pos%>,
           <%=prjs.size%>);
         return false;">
      <%=dsp_pos%>
    </a>
<%end%>
   <%=prj.name%>
  </td>
  <td style="text-align:right;">
    <%if @prj_cost.has_key?(dsp_prj) && @prj_cost[dsp_prj][-1]!=0%>
        <%=sprintf('%1.2f', @prj_cost[dsp_prj][-1])%>
    <%else%>
        &nbsp;
    <%end%>
  </td>
  <td style="text-align:right;"><b>
    <%if @r_prj_cost.has_key?(dsp_prj) && @r_prj_cost[dsp_prj][-1]!=0%>
        <%=sprintf('%1.2f', @r_prj_cost[dsp_prj][-1]) %>
    <%else%>
        &nbsp;
    <%end%>
  </b></td>
  <td>&nbsp;</td>
</tr>
<%
 tic_num = 0
 tickets.each do |tic|
  issue_id = tic.issue_id
  tic_num += 1
  if tic.position != tic_num then # 番号が間違っていたらつけなおし
    tic.position = tic_num; tic.save
  end

  # 当該チケットに集計が無かったらスキップ
  next unless @issue_cost.has_key?(issue_id) || @r_issue_cost.has_key?(issue_id)

  issue = Issue.find_by_id(issue_id)
  parent_id = ""
  next if issue.nil? # チケットが削除されていたらパス
  next if issue.project_id != dsp_prj
  issueHtml = issue.closed? ? "<del>"+issue.to_s+"</del>" : issue.to_s

  if tic.parent && tic.parent != 0 then
    parent = Issue.find_by_id(tic.parent)
    if parent.nil? then
      parentHtml = "<del>Issue:"+tic.parent.to_s+"</del>"
    else
      parent_id = parent.id
      parentHtml = parent.closed? ? "<del>"+parent.to_s+"</del>" : parent.to_s
    end
  else
    parentHtml = ""
  end

  if @issue_cost.key?(issue_id) && 
     @issue_cost[issue_id].key?(-1) && 
     @issue_cost[issue_id][-1]!=0 then
    cost=sprintf("%.2f",@issue_cost[issue_id][-1])
  else
    cost="&nbsp"
  end

  if @r_issue_cost.key?(issue_id) && 
     @r_issue_cost[issue_id].key?(-1) && 
     @r_issue_cost[issue_id][-1]!=0 then
    r_cost=sprintf("%.2f",@r_issue_cost[issue_id][-1])
  else
    r_cost="&nbsp"
  end

%>
<tr>
  <td>
<%if User.current.allowed_to?(:edit_work_time_total, @project) then%>
    <a href="#"
      onclick="JavaScript:
        ticket_pos('<%=url_for(@link_params)%>',
          <%=issue_id%>,
          <%=tic.position%>,
          <%=tic_max%>);
        return false;">
      <%=tic.position%>
    </a>
<%end%>
    <%= link_to(issueHtml.html_safe, {:controller=>"issues", :action=>"show", :id=>issue.id}, :popup=>true) %>
    <%= print_issue_cost(issue) %>
  </td>
  <td style="text-align:right;"><%=cost.html_safe%></td>
  <td style="text-align:right;"><%=r_cost.html_safe%></td>
  <td id="ticket<%=issue_id%>">
  <div class="<%= parentHtml.present? ? 'wt_set_relay' : 'wt_not_relay' %>" data-has-parent="<%= parentHtml.present? ? 'true' : 'false' %>" data-parent-id="<%= parent_id %>" data-issue-id=<%= issue_id %> data-redmine-parent-id="<%= issue.parent_id %>"> => <%= parentHtml.html_safe %>
<%
if User.current.allowed_to?(:edit_work_time_total, @project) then
  if parentHtml != "" then
%>
    <a href="#"
      onclick="JavaScript:
        set_ticket_relay(
          '<%=url_for(:action=>"popup_select_ticket")%>',
          '<%=url_for(@link_params.merge(:action=>"ajax_relay_table"))%>',
          <%=issue_id%>);
        return false;">
      [<%=l(:button_change)%>]
    </a>
    <a href="#"
      onclick="JavaScript:
        del_ticket_relay(
          '<%=url_for(@link_params.merge(:action=>"ajax_relay_table"))%>',
          <%=issue_id%>);
        return false;">
      [<%=l(:button_delete)%>]
    </a>
<%else%>
    <a href="#"
      onclick="JavaScript:
        set_ticket_relay(
          '<%=url_for(:action=>"popup_select_ticket")%>',
          '<%=url_for(@link_params.merge(:action=>"ajax_relay_table"))%>',
          <%=issue_id%>);
        return false;">
      [<%=l(:button_add)%>]
    </a>
<%
  end
end
%>
</div>
</td>
</tr>
<%
 end
end
%>
<% if @prj_cost.has_key?(-1) || @r_prj_cost.has_key?(-1) then%>
    <tr style="background:#000;color:#fff;">
      <td>private</td>
      <td style="text-align:right;">
        <%if @prj_cost.has_key?(-1) then%>
            <%=sprintf('%1.2f', @prj_cost[-1][-1])%>
        <%else%>
            &nbsp;
        <%end%>
      </td>
      <td style="text-align:right;">
        <%if @r_prj_cost.has_key?(-1) then%>
            <b><%=sprintf('%1.2f', @r_prj_cost[-1][-1]) if @r_prj_cost[-1][-1]%></b>
        <%else%>
            &nbsp;
        <%end%>
      </td>
      <td>&nbsp;</td>
    </tr>
<% end %>
