<table border="1" id="time_input_table">
  <tr align="center" style="background:#ddd;">
    <td>
      <div style="position:relative;height:25px;">
        <div style="posision:absolute;top:3px;left:20px;width:200px;font-size:1.5em;">
          <%= @this_year %>/<%= @month_names[@this_month-1]%>/<%=@this_day%><br>
        </div>
      </div>
    </td>
    <td><%=l(:work_time)%></td>
    <td><%=l(:field_activity)%></td>
    <td><%=l(:field_comments)%></td>
  </tr>
<%
day_total = 0;
prj_odr = WtProjectOrders.find(:all, :order=>"dsp_pos", :conditions=>["prj=:p and uid=:u",{:p=>@project.id, :u=>@this_uid}]);

prj_odr.each do |po|
 dsp_prj = po.dsp_prj;
 dsp_pos = po.dsp_pos;
 next if @input_prj_issues.key?(dsp_prj) == false;
 prj = Project.find(dsp_prj);
 prj_day_sum = TimeEntry.sum(:hours, :conditions=>
             ["user_id=:u and project_id=:p and spent_on=:d", 
             {:u => @this_uid, :p=>dsp_prj, :d=>@this_date}]);
%>
<tr style="background:#000;color:#fff;">
  <td>
        <a href="JavaScript:prj_pos('<%=url_for(@link_params) %>',<%=dsp_prj%>,<%=dsp_pos%>,<%=prj_odr.size%>);">
          <%= dsp_pos %>
        </a>
        <%=prj.name%>
  </td>
  <td><%=prj_day_sum%></td>
  <td></td>
  <td></td>
</tr>
<%
 @input_prj_issues[dsp_prj].each do |issue_odr|
  issue_id = issue_odr[0];
  issue_color = @worked_issues.include?(issue_id) ? "#cfc" : "#fff";
  issue = Issue.find(issue_id);
  issueHtml = issue.closed? ? "<del>"+issue.to_s+"</del>" : issue.to_s;

  time_entries = TimeEntry.find(:all, :conditions=>
             ["user_id=:u and issue_id=:i and spent_on=:d", 
             {:u => @this_uid, :i=>issue_id, :d=>@this_date}]);
  if time_entries.size == 0 then
%>
<!-- 工数エントリなし -->
<tr id="time_entry_new0<%=issue.id%>">
  <td style="background:<%=issue_color%>;">
    <a href="JavaScript:dup_ticket('<%=url_for(@link_params.merge(:action=>"ajax_insert_daily"))%>',
                                   'time_entry_new0<%=issue.id%>',
                                    <%=issue.id%>);">+</a>
    <%= link_to(issueHtml, :controller=>"issues", :action=>"show", :id=>issue.id) %>
    <%= print_issue_cost(issue) %>
  </td>
  <td>
    <%= text_field_tag("new_hour0_"+issue_id.to_s, "", :size=>5) %>
  </td>
  <td>
    <%= select_tag "new_act0_"+issue.id.to_s, @activity_options, :required => true %>
  </td>
  <td>
    <%= text_field_tag("new_cmnt0_"+issue_id.to_s, "", :size=>80)%>
  </td>
</tr>
<%
  else
    cost = time_entries.sum{|e| e.hours}
    time_entries.each do |t|
    day_total += t.hours;
%>
<!-- 工数エントリあり -->
<tr id="time_entry<%=t.id%>">
  <td style="background:<%=issue_color%>;">
    <a href="JavaScript:dup_ticket('<%=url_for(@link_params.merge(:action=>"ajax_insert_daily"))%>',
                                   'time_entry<%=t.id%>',
                                    <%=issue.id%>);">+</a>
    <%= link_to(issueHtml, :controller=>"issues", :action=>"show", :id=>issue.id) %>
    <%= print_issue_cost(issue) %>
  </td>
  <td>
    <%= text_field_tag("hour"+t.id.to_s, t.hours, :size=>5) %>
  </td>
  <td>
<%
activity = "";
Enumeration.get_values("ACTI").each do |enm|
  if enm.id == t.activity_id then
    activity += "<option value="+enm.id.to_s+" selected>"+enm.name
  else
    activity += "<option value="+enm.id.to_s+">"+enm.name
  end
end
%>
    <%= select_tag "act"+t.id.to_s, activity, :required => true %>
  </td>
  <td>
    <%= text_field_tag("cmnt"+t.id.to_s, t.comments, :size=>80)%>
  </td>
</tr>
<%
   end
  end
 end
end
%>
<tr align="center" id="time_input_table_bottom" style="background:#ddd;">
  <td>&nbsp;</td>
  <td><%=sprintf("%1.1f",day_total)%></td>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
</tr>
</table>
