<%
  opt = {
    :action => 'ajax_select_ticket',
    :prj => params[:prj],
    :all => params[:all] || '0'
  }

  opt[:all] = opt[:all] == '0' ? '1' : '0' if params.key?(:all_toggle)

  url1 = url_for(opt.merge({:all_toggle => ''}))

  link_label1 = opt[:all] == '0' ? l(:wt_opt_disp_ticket_with_closed) : l(:wt_opt_disp_ticket_opened_only)

  issues = Issue.find(
      :all,
      :include => [:assigned_to],
      :order => "id DESC",
      :conditions => ["project_id=:p",{:p=>params[:prj]}])
%>
<a href="#"
  onclick="JavaScript:
    ajax_select_tickets('<%=url1%>');
    return false;">
    <%= link_label1 %>
</a>
<br/>
<br/>
<%
issues.each do |issue|
  next if issue.nil? || !issue.visible?
  if issue.closed? then
    next if opt[:all] == '0'
    issueHtml = "<del>"+issue.to_s+"</del>"
  else
    issueHtml = issue.to_s
  end
  issueHtml = "(#{link_to_user(issue.assigned_to || '-')}): #{issueHtml}"
issues = Issue.find(:all, :order=>"id DESC", :conditions =>
                     ["project_id=:p",{:p=>params[:prj]}])
%>
<div style="font-size:14px;">
<input type="button" onclick="JavaScript:ticket_selected('<%=issue.id%>');" value="<%=l(:button_apply)%>" />
<%=issueHtml.html_safe%>
<a href="#"
  onclick="JavaScript:
    showModalDialog(
      '<%=url_for(:controller=>"issues", :action=>"show", :id=>issue.id)%>',
      window,
      '');
    return false;">
  &#63;
</a>
<br/>
</div>
<%end%>
<br/>
<br/>
