<%=@message.html_safe%>
<td id="ticket<%=@issue_id%>">
  <div style="background:#cfc;">
    => <%=@parentHtml.html_safe%>
<%
if User.current.allowed_to?(:edit_work_time_total, @project) then
  if @parentHtml != "" then
%>
<a href="JavaScript:set_ticket_relay('<%=url_for(:action=>"popup_select_ticket")%>',
                                  '<%=url_for(@link_params.merge(:action=>"ajax_relay_table"))%>',
                                  <%=@issue_id%>);">[<%=l(:button_change)%>]</a>
<a href="#" onclick="JavaScript:new Ajax.Updater('ticket'+<%=@issue_id%>,
  '<%=url_for(@link_params.merge(:action=>"ajax_relay_table", :ticket_relay=>@issue_id.to_s+"_0"))%>',
  {asynchronous:true, method:'get'}); return false;">
[<%=l(:button_delete)%>]
</a>

<%else%>
<a href="JavaScript:set_ticket_relay('<%=url_for(:action=>"popup_select_ticket")%>',
                                  '<%=url_for(@link_params.merge(:action=>"ajax_relay_table"))%>',
                                  <%=@issue_id%>);">[<%=l(:button_add)%>]</a>
<%
  end
end
%>
  </div>
</td>
