<div name="<%='done_ratio'+@issue.id.to_s%>">
<% if @issue.estimated_hours then %>
    <%= print_issue_cost(@issue) %>
    &#61;
    <%= print_issue_cost_rate(@issue) %>
    &#37;
    <br/>
<% end %>
<form action="">
  <%= @issue.done_ratio %>
  &#37;
  &rarr;
  <input type="text"
         id="<%='input_ratio'+@issue.id.to_s%>"
         size="4"
         onKeyPress="if(checkEnter(event)) {
                         update_done_ratio('<%=url_for(@link_params.merge(:action=>"ajax_done_ratio_update"))%>', <%=@issue.id.to_s%>);
                         return false;
                 }
                 return event; "
         value="<%= print_issue_cost_rate(@issue) %>"/>
  &#37;
  <input type="button"
         value="<%=l(:button_apply)%>"
         onclick="update_done_ratio('<%=url_for(@link_params.merge(:action=>"ajax_done_ratio_update"))%>',
                 <%=@issue.id.to_s%>);" />
</form>
</div>
<script>
    $('#<%='input_ratio'+@issue.id.to_s%>').focus();
</script>