<%
uid = params[:user]
year = params[:year]
month = params[:month]
add_issue_id = params[:add_issue]
count = params[:count]
month_str = sprintf("%04d-%02d", year, month)

if uid!=User.current.id then

  add_issue = Issue.find_by_id(add_issue_id)
  if add_issue && add_issue.visible? then
    issueHtml = add_issue.closed? ? "<del>"+add_issue.to_s+"</del>" : add_issue.to_s

    prj = Project.find(add_issue.project_id)
    log_time_allowed = User.current.allowed_to?(:log_time, prj)
    activities = []
    prj.activities.each do |act|
      activities.push([act.name, act.id])
    end

    # 既存の表示項目を取得
    disps = UserIssueMonth.find(:all, :conditions=>["uid=:u",{:u=>uid}])
    disp_count = 0
    begin
      disp_count += 1
      disp = disps.shift
      if disp==nil then # 同じチケットが最後まで無かったら
        # 表示項目を追加
        if log_time_allowed then
          UserIssueMonth.create(:uid=>uid, :issue=>add_issue_id, :odr=>disp_count+1)
        end
        break
      end
    end while disp.issue != add_issue_id.to_i # 同じチケットが既にあったら追加しない

    suffix = "["+add_issue_id+"]["+count+"]"
%>
<tr style="background:#ddf;" id="time_entry_pos<%=suffix%>">
  <td>
  <div style="position:relative;width:300px;">
    <%=prj.name%>
    <br/>
    <%= link_to(issueHtml, :controller=>"issues", :action=>"show", :id=>add_issue.id) %>
    <%= print_issue_cost(add_issue) %>
        <a name="<%='done_ratio'+add_issue.id.to_s%>"
        href="JavaScript:update_done_ratio(
          '<%=url_for(@link_params.merge(:action=>"popup_update_done_ratio"))%>',
          '<%=url_for(@link_params.merge(:action=>"ajax_update_done_ratio"))%>',
          <%=add_issue.id%>);">
      [<%=add_issue.done_ratio%>&#37;]
    </a>

    <a style="position:absolute;bottom:1px;right:10px;"
       href="JavaScript:dup_ticket('<%=url_for(@link_params.merge(:action=>"ajax_insert_daily"))%>',
                                   'time_entry_pos<%=suffix%>',
                                    <%=add_issue.id%>);">+</a>
  </div>
  </td>
  <td>
    <%if log_time_allowed then%>
    <%= text_field_tag("new_time_entry"+suffix+"[hours]", "", :size=>5) %>
    <%end%>
  </td>
  <td>
    <%= select_tag "new_time_entry"+suffix+"[activity_id]", options_for_select(activities), :required => true %>
  </td>
  <td>
    <%= text_field_tag("new_time_entry"+suffix+"[comments]", "", :size=>80)%>
  </td>
  <%@custom_fields.each do |cf|
    def cf.custom_field
      return self
    end
    def cf.value
      return self.default_value
    end
    def cf.true?
      return self.default_value
    end
  %>
     <td><%= custom_field_tag "new_time_entry"+suffix, cf %></td>
  <% end %>
</tr>
<%
  end
end
%>