<%#
# 進捗％更新ポップアップ
%>
<%=javascript_include_tag "work_time", :plugin=>'redmine_work_time' %>
<html>
  <head>
    <title>update done ratio</title>
  </head>
  <body onLoad="document.forms[0].elements[0].focus();">
    <h2><%=l(:label_update_issue_done_ratios)%></h2>
    <a href="#"
      onclick="JavaScript:
        showModalDialog(
          '<%=url_for(:controller=>"issues", :action=>"show", :id=>@issue.id)%>',
          window,
          '');
        return false;">
      <%= @issueHtml.html_safe %>
    </a>
    <% if @issue.estimated_hours then %>
      <%= print_issue_cost(@issue) %>
      &#61;
      <%= print_issue_cost_rate(@issue) %>
      &#37;
    <% end %>
    <br/>
    <form action="">
      <%= @issue.done_ratio %>
      &#37;
      &rarr;
      <input type="text" id="input_ratio" size="4" onKeyPress="return checkKey(event,ratio_inputed);" value="<%= print_issue_cost_rate(@issue) %>"/>
       &#37;
      <input type="button" value="<%=l(:button_apply)%>" onclick="ratio_inputed();"/>
    </form>
  </body>
</html>
