<html>
<head>
<title>select a ticket</title>
<%=javascript_include_tag "prototype" %>
<SCRIPT Language="JavaScript">
<!--
function ticket_inputed()
{
  returnValue = document.forms[0].elements[0].value;
  close();
}

function ticket_selected(issue_id)
{
  returnValue = issue_id;
  close();
}

function ticket_check(url)
{
  showModalDialog(url, window, "");
}
-->
</SCRIPT>
</head>

<body onLoad="document.forms[0].elements[0].focus();">
<h2><%=l(:wt_ticket)%></h2>

<select onchange="if (this.value != '') {new Ajax.Updater('tickets', this.value, {asynchronous:true, method:'get'}); return false;}">
  <option value=''>select project...</option>
  <option disabled="disabled">---</option>
<%
projects = Project.find(:all, :order=>"name");
projects.each do |prj|
  members = Member.find(:all, :conditions=>
            ["user_id=:u and project_id=:p",{:u=>User.current.id, :p=>prj.id}]);
  next if members.size==0;
%>
  <option value="<%= url_for(:action=>"ajax_select_ticket", :prj=>prj.id) %>">
    <%= prj.name %> 
  </option>
<%
end
%>
</select> <br>
<div id="tickets">
or input a ticket number
  <form>
    <input type="text" size=32>
    <input type="submit" value="<%=l(:button_apply)%>" onclick="ticket_inputed();">
  </form>
</div>
</body>
