<html>
<head>
<title>select a ticket</title>
<%= javascript_heads %>
<%=javascript_include_tag "work_time", :plugin=>'redmine_work_time' %>
</head>

<body onLoad="document.forms[0].elements[0].focus();">
<h2><%=l(:wt_ticket)%></h2>

<select onchange="JavaScript:if (this.value != '') {
  ajax_select_tickets(this.value);
  return false;}">
  <option value=''><%=l(:wt_select_project)%></option>
  <option disabled="disabled">---</option>
<%
projects = Project.find(:all, :joins=>"LEFT JOIN wt_project_orders ON wt_project_orders.dsp_prj=projects.id AND wt_project_orders.uid=-1",
                          :select=>"projects.*, coalesce(wt_project_orders.dsp_pos,100000) as pos",
                          :order=>"pos,name")
projects.each do |prj|
  next unless prj.active?
  next if !prj.visible?
%>
  <option value="<%= url_for(:action=>"ajax_select_ticket", :prj=>prj.id) %>">
    <%= prj.name %> 
  </option>
<%
end
%>
</select>
<br/>
<div id="tickets">
<%=l(:wt_input_ticket_numbers)%>
  <form action="">
    <input type="text" id="input_id" size=32 onKeyPress="return checkKey(event,ticket_inputed);"/>
    <input type="button" value="<%=l(:button_apply)%>" onclick="ticket_inputed();"/>
  </form>
</div>
</body>
</html>
